body {
  font: 22px solid sans-serif;
  margin:0;
  padding: 0;
  height: 100%;
}

#image {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url('../images/apple-pie.jpg');
}


.header {
  font: 150px bold Verdana;
  color: white;
}

#story {
  margin: 50px 200px ;
  border-bottom: 1px solid grey;
}

.flexing {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


#ingredients {
  margin: 50px 200px ;
  border-bottom: 1px solid grey;
}

#directions {
  margin: 50px 200px ;
}

 #cook {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
} 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
